body{
    padding: 0;
    margin: 0;
}

.fondo{
    height: 30em;
    width: 45em;
    background-color: rgb(219, 219, 219);
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.estructura1{
    height: 22em;
    width: 30.9em;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5.4em;
    left: 5.8em;
}

.mangoI{
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: bottom;
}

.mangoTr{
    background-color: transparent;
    height: 35%;
    width: 100%;
}

.mangoI1{
    background-color: rgb(0, 0, 29);
    height: 65%;
    width: 100%;
    border-radius: 10% 30% 46% 46%;
    /*
    position: absolute;
    top:150px;
    left:100px; */
    transform: rotate(1deg);
}
.base{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*
    position: absolute;
    top: 4.5em;
    left: 9em;*/
    
}
.baseSuperior{
    background-color: rgb(0, 0, 29);
    height: 40%;
    width: 120%;
    border-radius: 100% 100% 0% 0%;;
    /*position: absolute;
    top: 5em;
    left: 9em;*/
}

.base1{
    background-color: rgb(0, 0, 29);
    height: 10%;
    width: 100%;
    border-radius: 0 0 0px 0px;
    /*
    position: absolute;
    top: 9.3em;
    left: 9em;*/
}
.baseTr{
    background-color: transparent;
    height: 50%;
    width: 100%;
    /*
    position: absolute;
    top: 9.3em;
    left: 9em;*/
}
.mangoD{
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
}
.mangoTr{
    background-color: transparent;
    height: 35%;
    width: 100%;
}
.mangoD1{
    background-color: rgb(0, 0, 24);
    height: 65%;
    width: 100%;
    border-radius: 30% 10% 46% 46%;
    /*position: absolute;
    top:150px;
    left:500px;*/
    transform: rotate(-1deg);
}


.zonaDerecha{
    position: absolute;
    top: 7.5em;
    left: 24.5em;
}



.circulogD {
    height: 12em;
    width: 12em;
    background-color: rgb(0, 0, 37);
    /*border-radius: 25% 30% 60% 30%;*/
    border-radius: 100%;
    position: absolute;
    top: 0em;
    left: 0em;
}

.circuloiI {
    height: 7.8em;
    width: 7.8em;
    background-image:linear-gradient(to bottom right, rgb(13, 13, 65), rgb(0, 0, 37));
    /*border-radius: 25% 30% 60% 30%;*/
    border-radius: 100%;
    position: absolute;
    top: 1.7em;
    left: 2.2em;
}

.circuloiD {
    height: 7.8em;
    width: 7.8em;
    background-image:linear-gradient(to bottom right, rgb(13, 13, 65), rgb(0, 0, 37));
    /*border-radius: 25% 30% 60% 30%;*/
    border-radius: 100%;
    position: absolute;
    top: 1.7em;
    left: 2.5em;
}
.botonVerde {
    background-color: rgb(0, 155, 202);
    height: 4em;
    width: 4em;
    /*border-radius: 25% 30% 60% 30%;*/
    border-radius: 100%;
    position: absolute;
    top: 3.5em;
    left: 4.5em;
    box-shadow: 2px 2px 10px  rgb(0, 0, 0);
}
.botonVerde:focus {
    background-color: rgb(0, 134, 175);
    outline: none;
}
.botonVerdeLetra {
    color: rgb(0, 121, 158);
    position: absolute;
    top: 2em;
    left: 2.5em;
    text-align: center;
    font: small-caps bold 16px/30px Arial, serif;
    font-size: 36px;
    transform: scale(.5, 1);
}

.zonaIzquierda{
    position: absolute;
    top: 7.5em;
    left: 6em;
}
.circulogI {
    height: 12em;
    width: 12em;
    background-color: rgb(0, 0, 37);
    /*border-radius: 25% 30% 60% 30%;*/
    border-radius: 100%;
    position: absolute;
    top: 0em;
    left: 0em;
}
.brillobI {
    height: 4em;
    width: 2em;
    background-image:linear-gradient(to bottom right, rgb(255, 255, 255), transparent);
    /*border-radius: 25% 30% 60% 30%;*/
    border-radius: 50% 50% 50% 50%;
    transform: rotate(45deg);
    opacity: 0.04;
    position: absolute;
    top: 1.5em;
    left: 3.2em;
}

.circulopI {
    height: 8em;
    width: 8em;
    background-color: rgb(0, 0, 37);
    /*border-radius: 25% 30% 60% 30%;*/
    border-radius: 100%;
    position: absolute;
    top: 8.5em;
    left: 5.5em;
}
.circulopI2 {
    height: 5.5em;
    width: 5.5em;
    background-image: linear-gradient(to top left, rgb(13, 13, 65), rgb(0, 0, 15));
    /*border-radius: 25% 30% 60% 30%;*/
    border-radius: 100%;
    position: absolute;
    top: 10em;
    left: 7em;
}
.circulopD {
    height: 8em;
    width: 8em;
    background-color: rgb(0, 0, 37);
    /*border-radius: 25% 30% 60% 30%;*/
    border-radius: 100%;
    position: absolute;
    top: 9.5em;
    left: -1.5em;
}
.curvaia,.curvada{
    background-color:rgb(0, 0, 37);
    height: 4em;
    width: 2em;
    clip-path: polygon(17% 90%, 16% 11%, 77% 10%, 63% 25%, 57% 38%, 54% 51%, 54% 60%, 58% 69%, 64% 79%, 76% 88%);
    
}
.curvaia{
    position: absolute;
    top: 17.7em;
    left: 10em;
    transform: rotate(135deg);
}
.curvada{
    position: absolute;
    top: 17.7em;
    left: 30.4em;
    transform: rotate(40deg);
}

#botonSuperiorI {
    background-color:rgb(0, 0, 37);
    height: 3em;
    width: 7em;
    border-radius: 60% 30% 40% 40%;
    position: absolute;
    top: 6.5em;
    left: 7em;
    transform: rotate(-25deg);
}
.botonSuperiorI:focus {
    background-color: rgb(0, 0, 19);
    position: absolute;
    top: 7em;
    left: 7em;
    outline: none;
}
.botonSuperiorD {
    background-color: rgb(0, 0, 37);
    height: 3em;
    width: 7em;
    border-radius: 20% 80% 40% 40%;
    position: absolute;
    top: 7em;
    left: 29.5em;
    transform: rotate(25deg);
}

.brillobbD {
    height: 2.5em;
    width: 1em;
    background-image:linear-gradient(to bottom left, rgb(255, 255, 255), transparent);
    /*border-radius: 25% 30% 60% 30%;*/
    border-radius: 40% 80% 80% 40%;
    position: absolute;
    transform: rotate(-45deg);
    opacity: 0.4;
    top: 3.3em;
    left: 6.9em;
}
.bRojo{
    position: absolute;
    top: 15em;
    left: 26em;
    
}
.botonRojo {
    background-color: rgb(202, 0, 0);
    height: 2.5em;
    width: 2.5em;
    /*border-radius: 25% 30% 60% 30%;*/
    border-radius: 100%;
    position: absolute;
    top: 7.5em;
    left: 2em;
    box-shadow: 2px 2px 10px  rgb(0, 0, 0);
}
.botonRojoLetra {
    color: rgb(170, 0, 0);
    position: absolute;
    top: 5.2em;
    left: 1.8em;
    text-align: center;
    font: small-caps bold 16px/30px Arial, serif;
    font-size: 24px;
    transform: scale(.5, 1);
}
.botonY {
    background-color: rgb(190, 190, 190);
    height: 1.6em;
    width: 3.4em;
    /*border-radius: 25% 30% 60% 30%;*/
    border-radius: 80% 80% 10px 10px;
    position: absolute;
    top: 1.5em;
    left: 3em;
    transform: rotate(-26deg);
    box-shadow: 2px 2px 10px  rgb(0, 0, 0);
}
.botonYletra {
    color: rgb(90, 90, 90);
    position: absolute;
    top: 1.2em;
    left: 3.5em;
    text-align: center;
    font: small-caps bold 16px/30px Arial, serif;
    font-size: 20px;
    transform: scale(.5, 1);
}
.botonX {
    background-color: rgb(190, 190, 190);
    height: 1.6em;
    width: 3.4em;
    /*border-radius: 25% 30% 60% 30%;*/
    border-radius: 80% 80% 10px 10px;
    position: absolute;
    top: 4.5em;
    left: 8.5em;
    transform: rotate(80deg);
    box-shadow: 2px 2px 10px  rgb(0, 0, 0);
}
.botonXletra {
    color: rgb(90, 90, 90);
    position: absolute;
    top: 3.5em;
    left: 7.8em;
    text-align: center;
    font: small-caps bold 16px/30px Arial, serif;
    font-size: 20px;
    transform: scale(.5, 1);
    
}

.jostikA{
    position: absolute;
    top: 11.5em;
    left: 0.5em;
}
.jostikAmarilloFondo {
    background-color: rgb(105, 81, 0);
    height: 4em;
    width: 4em;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    position: absolute;
    top: 0em;
    left: 0em;
    transform: rotate(24deg);
}
.jostikAmarilloFondo2 {
    background-color: rgb(139, 107, 0);
    height: 3.6em;
    width: 3.6em;
    border-radius: 100%;
    position: absolute;
    top: 0.2em;
    left: 0.2em;
    transform: rotate(24deg);
}
.jostikAmarillo {
    background-color: rgb(255, 196, 0);
    height: 3em;
    width: 3em;
    /*border-radius: 25% 30% 60% 30%;*/
    border-radius: 100%;
    position: absolute;
    top: 0.6em;
    left: 0.6em;
    box-shadow: 2px 2px 10px  rgb(128, 77, 0);
}
.jostikAletra {
    color: rgb(209, 160, 0);
    position: absolute;
    top: 0.6em;
    left: 0.7em;
    text-align: center;
    font: small-caps bold 16px/30px Arial, serif;
    font-size: 30px;
    transform: scale(.6, 1);
}
.jostikFondo {
    background-color: rgb(26, 26, 26);
    height: 5em;
    width: 5em;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    position: absolute;
    top: 3em;
    left: 3.5em;
    transform: rotate(24deg);
}

.jostik {
    background-color: rgb(155, 155, 155);
    height: 4em;
    width: 4em;
    /*border-radius: 25% 30% 60% 30%;*/
    border-radius: 100%;
    position: absolute;
    top: 3.5em;
    left: 4em;
}
.jostikCirculo1,.jostikCirculo2 {
    background-color: rgb(155, 155, 155);
    height: 3em;
    width: 3em;
    /*border-radius: 25% 30% 60% 30%;*/
    border-radius: 100%;
    border-style: solid;
    border-color: rgb(136, 136, 136);
    background-color: transparent;
    
}
.jostikCirculo1 {
    height: 3em;
    width: 3em;
    position: absolute;
    top: 3.8em;
    left: 4.3em;
}
.jostikCirculo2 {
    height: 2em;
    width: 2em;
    position: absolute;
    top: 4.3em;
    left: 4.8em;
}
.flechas{
    position: absolute;
    top: 7em;
    left: 9em;
}
.flechaFondoAr,.flechaFondoAb,.flechaFondoD,
.flechaFondoI {
    background-color: rgb(155, 155, 155);
    height: 1.5em;
    width: 1.5em;
    border-radius: 10% 10% 0 0;
    
}
.flechaFondoAr{
    transform: rotate(0deg);
    position: absolute;
    top: 3.5em;
    left: 0em;
}
.flechaFondoAb{
    transform: rotate(0deg);
    position: absolute;
    top: 6.5em;
    left: 0em;
    transform: rotate(180deg);
}
.flechaFondoD{
    transform: rotate(0deg);
    position: absolute;
    top: 5em;
    left: 1.5em;
    transform: rotate(90deg);
    
}
.flechaFondoI{
    transform: rotate(-90deg);
    position: absolute;
    top: 5em;
    left: -1.5em;
}
.flechaFondoC{
    background-color: rgb(155, 155, 155);
    height: 1.5em;
    width: 1.5em;
    position: absolute;
    top: 5em;
    left: 0em;
}
.flechaAr,.flechaAb,.flechaD,.flechaI{
    background-color: rgb(105, 105, 105);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    height: 0.5em;
    width: 0.8em;
}

.flechaAr{
    position: absolute;
    top: 3.8em;
    left: 0.4em;
}
.flechaAb{
    position: absolute;
    top: 7.2em;
    left: 0.4em;
    transform: rotate(180deg);
}

.flechaD{
    position: absolute;
    top: 5.5em;
    left: 2.2em;
    transform: rotate(90deg);
}
.flechaI{
    position: absolute;
    top: 5.5em;
    left: -1.5em;
    transform: rotate(-90deg);
}

.zonaCentral{
    position: absolute;
    top: 10em;
    left: 18em;
}
.bCentroCirculoFondo{
    background-color: rgb(155, 155, 155);
    height: 1.3em;
    width: 1.3em;
    border-radius: 10% 10% 10% 10%;
    position: absolute;
    top: 2em;
    left: 1.5em;
}
.bCentroCirculo{
    background-color: rgb(95, 95, 95);
    height: 1em;
    width: 1em;
    border-radius: 100%;
    position: absolute;
    top: 2.2em;
    left: 1.6em;
}

.bCentroCasaFondo,.bCentroMenosFondo,.bCentroMasFondo{
    background-color: rgb(155, 155, 155);
    height: 1.4em;
    width: 1.4em;
    border-radius: 100%;
}

.bCentroCasa{
    position: absolute;
    top: 2em;
    left: 4em;
}


.bCentroCasaEst{
    position: absolute;
    height: 0.8em;
    width: 0.8em;
    background-color: rgb(95, 95, 95);
    top: 0.3em;
    left: 0.3em;
}

.bCentroMenosFondo{
    position: absolute;
    top: 0em;
    left: 0em;
}
.bCentroMenos{
    position: absolute;
    top: -0.5em;
    left: 0.1em;
    color: rgb(95, 95, 95);
    text-align: center;
    font-size: 40px;
}
.bCentroMasFondo{
    position: absolute;
    top: 0em;
    left: 5.4em;
}
.bCentroMas{
    position: absolute;
    top: -0.2em;
    left: 3.7em;
    color: rgb(95, 95, 95);
    font: italic small-caps bold 24px/30px Georgia, serif;
    text-align: center;
}
/*
.luz1,.luz2,.luz3,.luz4{
    position: absolute;
    height: 10em;
    width: 10em;
    color: rgb(0, 0, 0);
}*/

.logo{
    height: 3em;
    width: 3em;
    position: absolute;
    top: -1.5em;
    left: 1em;
    opacity: 0.5;
}
.luz{
    position: absolute;
    top: 5em;
    left: 1.5em;
}
#luz1,.luz2,.luz3,.luz4{
    height: 0.5em;
    width: 0.5em;
    background-color: rgb(0, 0, 0);
      
}
#luz1{
    position: absolute;
    top: 0em;
    left: 0em;
}
.luz2{
    position: absolute;
    top: 0em;
    left: 1em;
}
.luz3{
    position: absolute;
    top: 0em;
    left: 2em;
}
.luz4{
    position: absolute;
    top: 0em;
    left: 3em;
}
#luzVerde{
    position: absolute;
    height: 0.6em;
    width: 0.6em;
    top: 0em;
    left: 0em;
    opacity: 0;
    background-color: rgb(89, 255, 89);
    box-shadow: 1px 1px 10px rgb(0, 255, 0);
    border-radius: 100%;
}
#areaBotonI{
    height: 4em;
    width: 7em;
    background-color:transparent;
    position: absolute;
    transform: rotate(-20deg);
    top: 5em;
    left: 6.5em;
}

